<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    <form method="post" action="{% url 'djangoapp:add_review' %}">
      {% csrf_token %}
      <!-- Add your form fields here -->
      <input type="text" name="review_text" placeholder="Enter your review" required>
      <input type="number" name="rating" placeholder="Rating (1-5)" min="1" max="5" required>
      <button type="submit">Submit Review</button>
    </form>
    action="{% url 'djangoapp:add_review' dealer_id%}"
    </body>
</html>
